!!!
html
  head
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black")
    meta(name="format-detection",content="telephone=no")
    meta(name="viewport",content="width=device-width,initial-scale=0.8, minimum-scale=0.8, maximum-scale=0.8, user-scalable=no")
    link(href='//netdna.bootstrapcdn.com/bootswatch/2.3.1/readable/bootstrap.min.css',rel='stylesheet')
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css",rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css",rel="stylesheet")
    link(href="/stylesheet.css",rel="stylesheet")
    title=title
    script(src='http://upcdn.b0.upaiyun.com/libs/jquery/jquery-1.9.1.min.js')
    script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
  body
    block body